@import 'bulma/sass/utilities/initial-variables';
@import 'bulma/sass/utilities/functions';
$light: gray;
$dark: black;

.card {
  height: 100%;
  margin: 0 5%;
}

.container {
  overflow: hidden;
}

.DayPicker{
  z-index: 99;
}

.DayPickerInput input{
    padding:10px;
    font-size: medium;
}
@import 'bulma';
